/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
/* Import the Norwester font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Norwester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;700&display=swap');


:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

p {
 font-size: larger;
 font-family: "Libre Franklin", sans-serif;
 line-height: 40px;
}

body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  color: #404044;
  background-color: #E3E1CA;
}

h1 {
  font-family: 'Eczar', sans-serif;
  font-weight: bolder;
  color: #404044;
  padding-top: 40px;
}

h2 {
  font-family: Spectral, sans-serif;
  font-weight: bolder;
  color: #404044;
  padding-top: 30px;
}

.landing-header {
  color: #56684F;
  margin-left: 150px;
  margin-bottom: 50px;
  font-weight: bolder;
  justify-content: left;
  text-align: left;
  font-family: "Libre Franklin", sans-serif;
}

.landing-description {
  justify-content: left;
  text-align: left;
  line-height: 50px;
  margin: 50px 50px 50px 150px;
  font-family: "Libre Franklin", sans-serif;
}

.accent-green {
  color: #56684F;
  font-family: 'Eczar', sans-serif;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.landing-collage {
  max-width: 100%;
  max-height: 100%;
  margin-left: 75px;
  margin-bottom: 400px;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

 /*Define custom styles */
.custom-green-background {
  background-color: #E3E1CA;
  color: #404044;
}

.navbar-nav {
  width: 100%;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: flex;
}
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
  color: lightgray !important;
}
/* Change color of items when not active */
.navbar-nav .nav-link {
  color: #56684F; /* Default color */
  margin-right: 40px;
  margin-left: 40px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: large;
}
/* Set the hover color for .navbar-nav .nav-link */
.navbar-nav .nav-link:hover {
  color: #E3E1CA; /* Your hover color */
}


/* Styling for the bar above the navbar text */
.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  top: 0; /* Position the bar above the link */
  left: 0;
  width: 100%;
  height: 2px; /* Bar height */
  background-color: #56684F; /* Bar color */
  transform: scaleX(0); /* Initially hidden */
  transition: transform 0.3s ease; /* Add transition for animation */
}

/* Show the bar on hover, focus, or when active */
.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link:focus::before,
.navbar-nav .nav-link:active::before {
  transform: scaleX(1); /* Show the bar */
}

.logo-container {
  background-color: #E3E1CA;
}
.logo-image {
  max-width: 200px;
  max-height: 200px;
}
.custom-navbar {
  background-color: whitesmoke;
}
/* Customize the background of the login dropdown */
.custom-login-dropdown {
  background-color: #56684F;
  justify-content: right;
}
.custom-login-dropdown .nav-link {
  color: #E3E1CA !important;
}
.image-overlay {
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-posts {
  border-radius: 0 !important;
  background-color: #56684F !important;
  border-color: #E3E1CA !important;
  color: #E3E1CA !important;
  width: 200px !important;
}

.img-posts {
  width: 200px !important;
  height: 200px !important;
  border-radius: 50% !important;
  overflow: hidden !important;
  object-fit: cover !important;
  border: 3px solid black;
  box-sizing: border-box;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  height: 100vh; /* Set the height to 100% of the viewport height */
  overflow: hidden; /* Hide any overflow */
}

.carousel img {
  height: 100%; /* Make the images fill the height of the carousel */
  width: auto; /* Maintain the aspect ratio */
}
.carousel .carousel-inner {
  width: 100%; /* Set the width of the carousel inner container to 100% */
  height: 100%; /* Set the height of the carousel inner container to 100% */
}

.carousel .carousel-item img {
  width: 100%; /* Make the images fill the width of the carousel */
  height: 100%; /* Make the images fill the height of the carousel */
  object-fit: cover; /* Cover the entire carousel area */
}

/* For edit, delete, and change verification buttons on Posts/PostsAdmin */
.other-btn-posts {
  width: 200px !important;
}

/* footer */
.footer-color {
  background-color: #56684F !important;
  color: floralwhite;
}
